body{
    height: 100vh;
    background-image:#3cad5a;
    font-family: 'Montserrat', sans-serif;

}

 .card-header {
     color: white;
     font-family: 'Montserrat', sans-serif;
 }

 #music-player {
     color: white;
     
 }

 #music_info {
    margin-top: 48px;
 }

 h1, h3, h4 {
     color: white;
     font-family: 'Montserrat', sans-serif;
 }

 .jumbotron {
     background-color: rgba(255,255,255, 0);
 }

.cm-card-height {
    max-height: 350px;
}

