body{
    height: 100%;
}
.footer{
    position: sticky bottom;
    height: 100%;
    bottom: 0;
    width: 100%;
    height: 1.5em;
    line-height: 1.5em;
    background-color: #f5f5f5;
    font-family: 'Montserrat', sans-serif;
    /* overflow: hidden; */
 }

 .card-header {
     color: white;
     font-family: 'Montserrat', sans-serif;
 }

 #music-player {
     color: white;
     
 }

 #music_info {
    margin-top: 48px;
 }

 h1, h3, h4 {
     color: white;
     font-family: 'Montserrat', sans-serif;
 }

 body {
    font-family: 'Montserrat', sans-serif;
 }

 .jumbotron {
     background-color: rgba(255,255,255, 0);
 }

.cm-card-height {
    max-height: 350px;
}

